.custom-input::placeholder {
  color: black; 
  font-style: italic; 
}

.custom-input {
  color: white; 
  font-size: 16px; 
}

.custom-input:focus {
  border-color: #6f4f32; 
  box-shadow: 0 0 5px rgba(79, 79, 79, 0.5); 
}
