.travel-routes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 20px;
  background-color: #AB886D;
}

.route-left .main-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.route-right {
  flex: 1;
  padding-left: 20px; 
  margin-top: -20px; 
}

.route-right h2 {
  font-size: 2rem;
  margin-bottom: 10px; 
}

.route-images {
  display: flex;
  gap: 20px;
  justify-content: flex-start; 
}

.route-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.route-title {
  font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.route-image {
  max-width: 200px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}
.main-video {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  object-fit: cover; 
  margin-top: 55px; 

}
